.homepage-style{
    background:linear-gradient(to right bottom,rgba(216, 28, 84, 0.267),rgb(131, 82, 194));
    height:100vh;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:rgba(202, 29, 58, 0.787);
}